*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(Tiger.jpg);
    background-size: cover;
}
nav{
    background: #0367fd;
    height: 80px;
    width: 100%;
}
div.Main{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 7px 13px;
    border-radius: 3px;
}
nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
    color: white;
}
a.active,a:hover
{
    background:rgb(214, 225, 65);
    transition: .5s;
}

.login{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: transparent;
    text-align:center;
}
.login h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.login input [type= "text"],.login input [type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px  10px;
    width: 220px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}
.login input [type= "text"]:focus,.login input [type="password"]:focus
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px  10px;
    width: 220px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;

}
.login input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px  10px;
    width: 200px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.login input[type = "submit"]
{
    background: #ffc400ec;
}


.Menu
{
    color:whitesmoke;
    margin-top: -70px;
}
